Importing dependencies

In [19]:
import tradingeconomics as te
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

API login

In [20]:
te.login('jupyter:jupyter') # Signup for a free API key at https://developer.tradingeconomics.com/

'You are logged in as a jupyter:jupyter'

Importing data

In [21]:
raw_df = te.getHistorical(symbol=['XB1:COM', 'OXY:US', 'NG1:COM', 'CL1:COM'], initDate='2020-01-01')

gasoline = raw_df.loc[raw_df['Symbol'] == 'XB1:COM']
petroleum = raw_df.loc[raw_df['Symbol'] == 'OXY:US']
natural_gas = raw_df.loc[raw_df['Symbol'] == 'NG1:COM']
crude_oil = raw_df.loc[raw_df['Symbol'] == 'CL1:COM']

Data manipulation

In [22]:
gasoline = gasoline[['Date', 'Close']].rename(columns={'Close': 'Gasoline'}, inplace=False)
petroleum = petroleum[['Date', 'Close']].rename(columns={'Close': 'Petroleum'}, inplace=False)
natural_gas = natural_gas[['Date', 'Close']].rename(columns={'Close': 'NaturalGas'}, inplace=False)
crude_oil = crude_oil[['Date', 'Close']].rename(columns={'Close': 'CrudeOil'}, inplace=False)

df = pd.merge(gasoline, petroleum, on='Date')
df = pd.merge(df, natural_gas, on='Date')

df['Date'] = pd.to_datetime(df['Date'], format="%d/%m/%Y")

df.sort_values(['Date'], inplace=True)
df.set_index('Date', inplace=True)

df

            Gasoline  Petroleum  NaturalGas  CrudeOil
Date
2020-01-02    1.7155     42.580      2.1020   61.0050
2020-01-03    1.7628     43.610      2.1012   62.8565
2020-01-06    1.7591     45.050      2.1532   63.2700
2020-01-07    1.7858     45.270      2.1376   62.5100
2020-01-08    1.6676     44.980      2.1427   59.4600
...              ...        ...         ...       ...
2021-06-18    2.1683     27.990      3.2150   71.6400
2021-06-21    2.1969     29.500      3.1910   73.1200
2021-06-22    2.2243     30.010      3.2580   72.8500
2021-06-23    2.2669     30.960      3.3330   73.0800
2021-06-24    2.2780     31.425      3.4230   73.0400

[373 rows x 4 columns]

Plotting

In [23]:
ax = plot_multi(df, figsize=(15, 5))
ax.set_title('Gasoline/Petroleum/Natual Gas Comparison', color='black', size=20)
plt.tight_layout()

NameError: name 'plot_multi' is not defined